.main_container {
    display: flex;
    justify-content: center;
}

#hover-button {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: aliceblue;
}

#container {
    position: relative;
    height: 500px;
    width: 600px;
    border: 1px solid rgb(199, 198, 198);
    margin: 4em;
    border-radius: .5em;
}